<p>Copyright &copy; <%= Time.now.year %> <a href="http://www.farend.co.jp/">FAR END Technologies Corporation</a></p><p>This site is powered by <a href="http://nanoc.stoneship.org/">nanoc</a>, a Ruby site compiler that generates static HTML.</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2756109-14");
pageTracker._trackPageview();
} catch(err) {}</script>
